@import "./styles/variables";

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100% - 400px);
	background-size: cover;
	padding: 200px 100px;
	justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
	.container {
		height: calc(100% - 100px);
		padding: 50px 20px;
	}
}